<p class="mt-5 text-center text-muted">
    <a class="fab fa-github text-dark" href="https://github.com/blove239/ImageRepo"></a>
    / Made by <a class="text-dark" href="https://www.brandonlove.ca">Brandon Love</a>
</p>