<meta charset="UTF-8">
<title>Image Repo</title>
<meta name="title" content="Image Repo">
<meta name="description"
    content="A simple image hosting repository. Uses Passport.js for user auth, SQLite for storage, served with Express.js. Make an account and upload your images!">

<meta property="og:type" content="website">
<meta property="og:url" content="https://imagerepo.brandonlove.ca/">
<meta property="og:title" content="Image Repo">
<meta property="og:description"
    content="A simple image hosting repository. Uses Passport.js for user auth, SQLite for storage, served with Express.js. Make an account and upload your images!">
<meta property="og:image" content="https://res.cloudinary.com/dcqt5zx6z/image/upload/v1612814215/Screenshots%20for%20projects/imagerepo_do8ogm.png">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://imagerepo.brandonlove.ca/">
<meta property="twitter:title" content="Image Repo">
<meta property="twitter:description"
    content="A simple image hosting repository. Uses Passport.js for user auth, SQLite for storage, served with Express.js. Make an account and upload your images!">
<meta property="twitter:image" content="https://res.cloudinary.com/dcqt5zx6z/image/upload/v1612814215/Screenshots%20for%20projects/imagerepo_do8ogm.png">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/brands.css">
<link rel="stylesheet" href="/css/fontawesome.css">

<style>
    body {
        padding-top: 50px;
    }

    .img-container {
        position: relative;
        width: 100px;
        height: 100px;
        margin: 5px;
    }

    .checkbox {
        position: relative;
        top: -40px;
        right: 2px;
    }
</style>