<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head"); %>
</head>

<body class="container">

    <header>
        <%- include("../partials/header"); %>
    </header>

    <main>
        <div class="jumbotron">
            The user <span class="font-weight-bold"><%= targetUser %> </span> does not exist.
        </div>
    </main>

    <footer>
        <%- include("../partials/footer"); %>
    </footer>

</body>

</html>
